<script>
  function closeModal(modalId) {
    document.getElementById(modalId).style.display = "none";
  }

  function openModal(modalId) {
    console.log(modalId);

    document.getElementById(modalId).style.display = "block";
  }
</script>

<? for(let i = 0; i < data.quests.length; i++) { ?>
  <div class="modal" id="quest-modal-<?= i ?>">
    <div class="modal-content">
      <div class="modal-title-bar">
        <h3>
          <?= data.quests[i].text ?>
        </h3>
        <div class="close-modal" onclick="closeModal('quest-modal-<?= i ?>')">
          <?!= include('pages/components/closeIcon') ?>
        </div>
      </div>

      <!-- Quest status if it's the currently active quest -->
      <div>
        <? if (data.quests[i].key === data.currentQuest.key) { ?>
        <strong>
          (
          <?= data.currentQuest.status ?>)
        </strong>
        <? } ?>
      </div>

      <ul>
        <li>
          <strong>Count:</strong>
          <?= data.quests[i].count ?>
        </li>
        <li>
          <strong>Drops:</strong>
          <ul>
            <li>
              <strong>Gold:</strong>
              <?= data.quests[i].drop.gp ?>
            </li>
            <li>
              <strong>Exp:</strong>
              <?= data.quests[i].drop.exp ?>
            </li>
            <li>
              <strong>Items:</strong>
              <ul>
                <? for(let j = 0; j < data.quests[i].drop.items.length; j++) { ?>
                  <li><?= data.quests[i].drop.items[j].text ?></li>
                <? } ?>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      
      <!-- Possible action -->
      <div>
        <? if ("invite" in data.quests[i].links) { ?>
        <a class="button" href="<?= data.quests[i].links['invite'] ?>">
          Send invitations
        </a>
        <? } else if ("start" in data.quests[i].links) { ?>
        <a class="button" href="<?= data.quests[i].links['start'] ?>">
          Start this quest
        </a>
        <? } else { ?>
        <i>no actions available</i>
        <? } ?>
      </div>
    </div>
  </div>
<? } ?>